<%- include('../partials/head')%>

<%- include('../partials/navbar')%>
<h1>Comments</h1>
<ul>
    <% for(let comment of comments) {%>
    <li>
        <%=comment.comment%> - <b><%=comment.username%></b>
        <a href="/comments/<%= comment.id %>">details</a>
    </li>
    <% }%>
</ul>
<a href="/comments/new">New Comment</a>

<%- include('../partials/footer')%>