<%- include('partials/head')%>

<%- include('partials/navbar')%>

<h1>Your random number is: <%= random %></h1>

<% if (random % 2 === 0) { %>
<p>That is an even number!</p>
<% } else { %>
<p>That is an odd number!</p>
<% } %>

<h3>This is an <%= random % 2 === 0 ? 'EVEN' : 'ODD' %> number</h3>

<%- include('partials/footer')%>